In [1]:
import pandas as pd
import regex as re

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [2]:
#Descargo los datos

inventory = pd.read_csv('../data/csv_inicial/inventory.csv')
inventory

     inventory_id  film_id  store_id          last_update
0               1        1         1  2006-02-15 05:09:17
1               2        1         1  2006-02-15 05:09:17
2               3        1         1  2006-02-15 05:09:17
3               4        1         1  2006-02-15 05:09:17
4               5        1         2  2006-02-15 05:09:17
..            ...      ...       ...                  ...
995           996      222         2  2006-02-15 05:09:17
996           997      222         2  2006-02-15 05:09:17
997           998      222         2  2006-02-15 05:09:17
998           999      223         2  2006-02-15 05:09:17
999          1000      223         2  2006-02-15 05:09:17

[1000 rows x 4 columns]

Parte 1

Estudio el dataframe

In [3]:
inventory.describe().T

               count     mean         std  min     25%    50%     75%     max
inventory_id  1000.0  500.500  288.819436  1.0  250.75  500.5  750.25  1000.0
film_id       1000.0  109.866   63.862042  1.0   56.00  111.5  164.00   223.0
store_id      1000.0    1.497    0.500241  1.0    1.00    1.0    2.00     2.0

In [4]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

Parte 2 

Limpieza de columnas

In [5]:
#Cambio el type de last_update de object a datetime

inventory['last_update'] = pd.to_datetime(inventory['last_update'])

In [6]:
#Chequeo nulos
nan_cols = inventory.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

Parte 3

Export a csv

In [7]:
inventory.to_csv('../data/csv_limpios/inventory.csv', index=False)