In [58]:
import pandas as pd
import regex as re

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [59]:
#Descargo los datos

actor = pd.read_csv('../data/csv_inicial/actor.csv')

In [60]:
## Llamo al df old
old = pd.read_csv('../data/csv_limpios/old.csv')

Parte 1

Estudiar como esta formada nuestra base de datos

In [61]:
actor.describe().T

          count   mean        std  min    25%    50%     75%    max
actor_id  200.0  100.5  57.879185  1.0  50.75  100.5  150.25  200.0

In [62]:
actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [63]:
actor.dtypes

actor_id        int64
first_name     object
last_name      object
last_update    object
dtype: object

Parte 2

Estudio columnas y limpio

In [64]:
nan_cols = actor.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [65]:
#Chequeo si hay filas repetidas
duplicadas = actor.duplicated().any()
duplicadas

False

In [66]:
#Le saco los duplicados a los actores que tengan mismo nombre y apellido

actor = actor.drop_duplicates(subset=['first_name', 'last_name'])

In [67]:
#Chequeo si el df actor contiene los actores del df old
actores = old['actor_id'].isin(actor['actor_id']).all()
actores
#como estan todos los valores puedo decir que la tabla old no me sirve para nada. Ahora chequeo de igual manera si los titles de old estan dentro de film

True

In [68]:
duplicados_actores = actor[actor.duplicated(subset=['first_name', 'last_name'], keep=False)]

In [69]:
#Cambiamos el formato de el nombre y apellido a solo la primer letra mayuscula
actor['first_name'] = actor['first_name'].str.title()
actor['last_name'] = actor['last_name'].str.title()

In [70]:
#Cambio el type de last_update de object a datetime

actor['last_update'] = pd.to_datetime(actor['last_update'])

Parte 3

Export a csv

In [71]:
actor.to_csv('../data/csv_limpios/actor.csv', index=False)