In [1]:
import pandas as pd
import regex as re

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [2]:
#Descargo los datos

language = pd.read_csv('../data/csv_inicial/language.csv')
language

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

Parte 1 

Estudiar el dataframe

In [3]:
language.describe().T

             count  mean       std  min   25%  50%   75%  max
language_id    6.0   3.5  1.870829  1.0  2.25  3.5  4.75  6.0

In [4]:
language.dtypes

language_id     int64
name           object
last_update    object
dtype: object

Parte 2

Cambio la columna last_update a datatime

In [5]:
#Cambio el type de last_update de object a datetime

language['last_update'] = pd.to_datetime(language['last_update'])

In [6]:
#Chequeo nulos
nan_cols = language.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

Parte 3

Export a csv

In [7]:
language.to_csv('../data/csv_limpios/language.csv', index=False)