In [76]:
import pandas as pd
import regex as re

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [77]:
#Descargo los datos

film = pd.read_csv('../data/csv_inicial/film.csv')

In [78]:
## Llamo al df old
old = pd.read_csv('../data/csv_inicial/old_HDD.csv')

Parte 1 

Estudio del dataframe

In [79]:
film.describe().T

,count,mean,std,min,25%,50%,75%,max
film_id,1000.0,500.500,288.819436,1.00,250.75,500.50,750.25,1000.00
release_year,1000.0,2006.000,0.000000,2006.00,2006.00,2006.00,2006.00,2006.00
language_id,1000.0,1.000,0.000000,1.00,1.00,1.00,1.00,1.00
original_language_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rental_duration,1000.0,4.985,1.411654,3.00,4.00,5.00,6.00,7.00
rental_rate,1000.0,2.980,1.646393,0.99,0.99,2.99,4.99,4.99
length,1000.0,115.272,40.426332,46.00,80.00,114.00,149.25,185.00
replacement_cost,1000.0,19.984,6.050833,9.99,14.99,19.99,24.99,29.99

In [80]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

Parte 2

Estudio y limpio columnas

In [81]:
film['original_language_id'].unique()

array([nan])

In [82]:
#Elimino la columna original language ya que son todos nulos
film = film.drop('original_language_id', axis = 1)

In [83]:
#Chequeo si el df film contiene los titles  del df old
films = old['title'].isin(film['title']).all()
films
#Como vemos que es true, podemos quitarnos la tabla OLD

True

In [84]:
#Agrego category_id a film para luego conectarlo
film['category_id'] = old['category_id']

In [85]:
film['category_id'].unique()

array([ 6,  2, 13, 10, 14,  4, 11, 15,  8,  3,  9,  5, 12,  1, 16,  7],
      dtype=int64)

In [86]:
#Cambiamos el formato de todo mayuscula a un formato mas prolijo
film['title'] = film['title'].str.title()

In [87]:
#Cambio el type de last_update de object a datetime

film['last_update'] = pd.to_datetime(film['last_update'])

In [88]:
duplicadas = film.duplicated().any()
duplicadas

False

In [89]:
nan_cols = film.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [90]:
film['language_id'].unique()

array([1], dtype=int64)

Parte 3

Export a csv

In [91]:
film.to_csv('../data/csv_limpios/film.csv', index=False)